.header {
    height: 50px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
}

.links {
    color: #b1b1b1;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
    gap: 35px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
} 

.left, .right{
    display: flex;
    align-items: center;
}

/* #### header text #### */

.header-box {
	background-color: #1f2937;
    padding-top: 100px;
    padding-bottom: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.card1 {
    background-color: #1f2937; 
    /* border: 1px solid #eee; */
    width: 460px;
    height: 220px;
    text-align: left;
}

.card2 {
    background-color: #444f5f; 
    /* border: 1px solid #eee; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 220px;
    text-align: left;
    
    
    background-position: center center; 
    background-size: cover;
}

h3{
    font-size: 18px;
    color: #b1b1b1;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: #f9faf8;
    font-weight: 800;
    position: relative;
}

p{
    font-size: 18px;
    color: #ffffffe3;
    font-weight: 100;
}

button {
    background-color: #3882f6;
    color:#f9faf8;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}