@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;800&display=swap');
* { 
    margin: 0;
    padding: 0;
}

body {
    color: rgb(255, 0, 0);
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 24px;
}

.footer {
    background-color: #1f2937;
    color: #b1b1b1;
    font-size: 15px;
    padding: 20px;
}   
